.about {
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(40px);
  background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.3),
      0,
      transparent 100%
    ),
    linear-gradient(100deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.1), inset 0 0 2px rgba(0, 0, 0, 0.5);
  background-size: 200% 150%;
  background-repeat: no-repeat;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  padding: 2.5% 2.5%;
height: 100vh;
}

.about .back {
  color: var(--primary);
  font-size: 3em;
  cursor: pointer;
 
}

.about .back svg {
  margin-top: 0.5em;
}

.about > div {
  padding: 2.5% 5%;
}

.about h2 {
  color: var(--primary);
  padding: 5% 0 2.5%;
  line-height: 1.2em;
  font-size: 1.2rem;
  
}

.about .link {
 color: var(--primary);
 padding: 5%;
 display: flex;
 align-items: center;

}

.about .link svg {

  font-size: 1.25em;
  margin-right: 0.25em;
  
}

.about .content {
  /* margin-top: 2em; */
  padding: 10%;
  text-align: justify;
  width: 80%;
}
.about .content > h2 {
  
  color: var(--primary);
  font-size: 3em;
  text-transform: uppercase;
  position: absolute;
  top: 0.5em;
  z-index: 10;
  line-height: 1em;
}
.about figure {
  position: absolute;
  top: 0;
  left: 75%;
  bottom: 0;
}

.about img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}

.about ul {
  list-style: none;
  color: var(--primary);
  padding: 0.5em;
}

.box {
  position: absolute;
  top: 0;
  left: 0;  
}

@media (min-width: 1024px){
  .about .content {
    /* margin-top: 2em; */
    padding: 10% 5%;
    
  }
  .about .content > h2 {
    font-size: 3.5em;
  
  }
  .about .content > p {
    font-size: 1.1em;
  
  }
  
  .about ul {
    padding: 1em;
  }
}

@media (min-width: 1280px){
  .about .content > h2 {
    font-size: 5em;
  
  }
  .about .content > p {
    font-size: 1.2em;
  
  }
  
  .about ul {
    padding: 1.2em;
  }
}