.wrapper {
  margin-top: -10%;
  height: 550px;
  background-color: #ffffff;
  padding: 200px 120px;
  color: var(--secondary);
}
.wrapper .icon {
  position: absolute;
  top: 5%;
  left: 50%;
  font-size: 30px;
  transition: transform 0.5s ease-in-out;
}


.wrapper h1 {
  font-size: 120px;
}

.links {
  text-align: right;
}

.links a {
  font-size: 20px;
  color: var(--secondary);
  text-decoration: underline;
}

.links a:visited {
  color: rgba(0, 0, 0, 0.6);
}
.links a:hover {
  text-decoration: none;
}
