.wrapper { 
  background-color: var(--foreground);
  color: var(--primary);
  padding: 0% 2.5%;
}
.wrapper .icon {
  display: none;
}
.links {
  text-align: right;
  
}
.links a {
  color: var(--primary);
  text-decoration: underline;
}

/* @media (min-width: 640px) {
  
} */

