.mobile {
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  color: var(--primary);
  font-family: moul, serif;
  padding: 0.625em;
}

.mobile .icon,
.mobile span {
  font-size: 3em;
  
}

.mobile .asym {
  padding-left: 0.5em;
  font-size: 8em;
}

.mobile .header {
  display: flex;
  justify-content: space-between;
}
.mobile .icon {
  cursor: pointer;
  margin-top: 0.25em;
}

.inhalt {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.625em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mobile > .inhalt.open {
  visibility: visible;
  z-index: 100;
}

.inhalt ul {
  list-style: none;
  padding: 3em;
  margin: 0;
}

.inhalt ul li {
  padding: 0.5em;
  text-align: left;
}

.inhalt ul li a {
  color: var(--primary);
  text-decoration: none;
}

.inhalt ul li:nth-last-of-type(1) {
  font-family: ropa, sans-serif;
  font-size: 0.75em;
}

.mobile nav + div {
  height: 60%;
}

.mobile .asym + div {
  border: 1px solid green;
display: none;
}

@media (min-width: 640px) {
  .mobile {
    padding: 1.5em;
  }
  .mobile nav + div {
    height: 40%;
    /* margin-top: 20%; */
    margin-left: 20%;
    /* border: 1px solid green; */
  }

  .mobile .asym {
    display: none;
  }
  .mobile .asym + div  {
    border: 1px solid green;
  display: block;
  }
  .mobile div:last-of-type span {
    /* border: 1px solid green; */
    position: absolute;

    left: 50%;
    font-size: 8em;
  }
}

@media (min-width: 1024px) {
.mobile .header > svg {
  border: 1px solid green;
  display: none;
}



  .mobile nav + div {
    margin-top: -10%;
    left: 35%;
    height: 50%;
  }
  .mobile div:last-of-type span {
   left: 45%;
   font-size: 8em;
  }
  
.mobile span {
  font-size: 8em;
}
  
}

@media (min-width: 1280px) {
}
