.impressum {    
  background-color: rgba(0,0,0,0.6);

  display: block;
  font-size: 1em;
  padding: 5% 5%;

}
.impressum .back {
  color: var(--secondary);
  display: inline;
  font-size: 2em;
  transform: translatex(-5px);
  
}

.impressum .link {
  color: var(--secondary);
  display: inline;
  font-size: 2em;
  transform: translatex(-5px);
  transition: transform 0.5s ease-in-out;
}


.impressum h2 {
  color: var(--secondary);
  /* margin-top: 5%; */
  padding-top: 2%;

}

.impressum address {
  font-style: normal;
}



@media (min-width: 1024px) {
.impressum {    
   
    display: flex;
    font-size: 20px;
    padding: 60px 120px;
    gap: 40px;
}
.impressum .back {
  display: none; 
}

.impressum .link {
  color: var(--secondary);
  display: inline;
  font-size: 2em;
  transform: translatex(-5px);
  transition: transform 0.5s ease-in-out;
}
  
  .impressum .link:hover {
    transform: translatex(-10px);
  }

.impressum h2 {
    color: var(--secondary);
    /* margin-top: 5%; */
    padding-top: 2%;

}



}






