.impressum {    
  background-color: rgba(0,0,0,0.6);
  display: block;
  font-size: 1em;
  padding: 5% 5%;


}
.impressum .back {
  color: var(--primary);
  display: inline;
  font-size: 3em;
 
}

.impressum .link {
  color: var(--primary);
  display: inline;
  font-size: 2em;
  transform: translatex(-5px);
  transition: transform 0.5s ease-in-out;
}


.impressum h2 {
  color: var(--primary);
  padding: 5% 0 2.5%;
  line-height: 1.2em;

}

.impressum address {
  font-style: normal;
}









