.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;


}

.landing {
  background: rgba(0,0,0,0.6);
  height: 100vh;
  width: 100vw;
  padding: 60px 120px;
position: relative;
 
} 

.landing > h1 {
  display: flex;
  color: var(--secondary);
  font-size: 120px;
  text-transform: uppercase;
  width:100%;
}




