.responsive {
  display: none;
}

@media (min-width: 640px) {
  .responsive footer {
    display: block;
    background-color: var(--foreground);
    color: var(--primary)
  }

  .responsive footer.wrapper {

    background-color: var(--foreground);
    color: var(--primary)
  }
}