.about {
  background-color: rgba(0, 0, 0, 1);
 
}

.about .back {
  color: var(--primary);
  font-size: 3em;
  margin: 0.5em 0.25em;

}

.about .text {
  
    padding: 2em 5% ;
   
    
}

.about h1 {
    color: var(--primary);
    font-size: 1.5em;
margin-top: -2em;
}

  .about .link, .about a h2 {
    color: var(--primary);
    display: inline;
    transform: translateX(-5px);
    
  }

  .about a h2 {
font-size: 1em;

  }

  
  