.projects {
    width: 100vw;
    background-color: rgba(0,0,0,1);
  

}

.projects .gallery {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
gap: 5rem;
}

.projects .project {
    background-color: var(--secondary);
    width: 250px;
    height: 250px;
}
.projects .link {
    color: var(--secondary);
    display: inline;
    font-size: 2em;
  margin: 2%;
}

.projects .link:hover {
    transform: translatex(2.5px);

}

