.projects {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);

}

.projects h1 {

width: 80%;
margin: auto;
    color: var(--secondary);
    font-size: 120px;
    line-height: 1em;
    padding-top: 15%;
}

.projects a {
    display: block;
    width: 80%;
    margin: auto;
    font-size: 20px;
    /* border: 1px solid green; */
}
.projects .link {
    color: var(--secondary);
    display: inline;
    font-size: 2em;
    transform: translatex(-5px);
    transition: transform 0.5s ease-in-out; 
}

.projects .link:hover {
    transform: translatex(2.5px);

}

.projects span {
    padding: 5px;
    color: var(--secondary);
    text-decoration: underline;
}