@font-face {
  font-family: moul;
  src: url(../public/assets/fonts/Moul/Moul-Regular.ttf);
}

@font-face {
  font-family: ropa;
  src: url(../public/assets/fonts/Ropa_Sans/RopaSans-Regular.ttf);
}

:root {
 --background: #000000;
  --foreground: #ffffff; 
  --primary: #e99e96;
  --heading: moul;
  --paragraph: ropa;
 font-size: 16px;
 
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--foreground);
  text-rendering: optimizeLegibility;
  
}

body {
  font-family: ropa, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: ropa, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: moul, serif;
}





